* {
    margin: 0;
    padding: 0;
}

html {
    /*    font-family: sans-serif;
    line-height: 1.15;*/
    min-width: 300px;
}

body {

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f8f8f8;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    transition: .3s all ease;
}

a:hover {
    color: darkorchid;
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: #000;
    background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
    background-image: -moz-linear-gradient(left, #fff, #000, #fff);
    background-image: -ms-linear-gradient(left, #fff, #000, #fff);
    background-image: -o-linear-gradient(left, #fff, #000, #fff);
}

.clear {
    clear: both;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    /*margin-right: auto;
margin-left: auto;*/
    /*max-width: 960px;*/
    /*    display: flex;
    justify-content: space-between;
    padding: 0 calc(50% - 590px);
    //background: background;*/
}

/**
* TopBar
**/
.header {
    display: flex;
    width: 100%;
    height: 200px;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.brand {
    flex: 0 1 auto;
    align-self: flex-start;
    order: 1;
    font-weight: 700;
    font-size: 2.125em;
    text-align: center;
    padding: 0;
    line-height: 1.2;
    color: black;
}

.brand a:hover {
    text-decoration: none;
}

.brand span {
    font-size: 0.4em;
    font-weight: 500;
    display: block;
    color: rgba(0, 0, 0, 0.2);

}

.brand:nth-child(1) {
    flex: 1 1 auto;
    border: 1px solid black;
    text-align: center;
}

.topnav:nth-child(2) {
    flex: 0 1 300px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid red;
}

.topnav {
    flex: 0 1 auto;
    align-self: flex-end;
    order: 2;
    /*margin: 0 auto;*/
    align-items: center;
    //justify-content: flex-start;
}

.topnav-nav {
    list-style-type: none;
    display: inline-flex;
}

.topnav-item {
    //margin: 20px;
}

.topnav-link {
    text-decoration: none;
    font-size: 12px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
}

.topnav-link:hover {
    color: darkorchid;
    text-decoration: none
}

/*.topbar-worktime {
    width: 30%;
    order: 3;
    line-height: 1;
}

.topbar-worktime span {
    font-weight: 700;
    font-size: 1.4375em;
}

.topbar-worktime p > span {
    font-size: 0.75em;
    font-weight: 300;
    text-align: left;
}*/




/**
* Main
**/
main {
    //padding: 0 15px;
    margin-bottom: 2em;
}

.banner {
    text-align: center;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid silver;
    margin: 15px auto;
    text-transform: uppercase;

}

.banner h2 {
    font-size: 1.375em;
    margin-top: 7rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}

.banner h3 {
    font-size: 0.75em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    margin-bottom: 100px;
    padding: 5px;
}

.categories-item {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px auto;
}

.categories-item img {
    border-radius: 10px;
}

.categories-item h3 {
    text-align: center;
    font-size: 0.75em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
}

.categories-item a:hover {
    text-decoration: none;
}

.page-title {
    display: block;
    text-align: center;
    width: 50%;

}

.page-title h1 {
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
}

/**
* Catalog
**/
.catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    margin-bottom: 100px;
    padding: 5px;
}

.catalog-item {
    width: 150px;
    catalog height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px auto;
}

.catalog-item img {
    border-radius: 10px;
}

.catalog-item h3 {
    text-align: center;
    font-size: 0.75em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
}

.catalog-item a:hover {
    text-decoration: none;
}

/**
* Product
**/
.product {
    margin-top: 2em;
}

.product > a > img {
    border: 1px solid silver;
    border-radius: 10px;
}

.product > a > img:hover {
    border: none;
    margin: 1px;
}

.product > h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short-desc-product {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product > p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.product > p::first-letter {
    font-family: fantasy;
    font-size: 20px
}

.product > ul > li {
    color: #434848;
    font-size: 15px;
    font-weight: 700;
    font-style: oblique;
    line-height: 20px;
    text-align: left;
    margin-left: 2em;
    list-style-type: none;


}

.product > ul > li::before {
    content: '\272F';
    margin-right: 1em;
}

.product table {
    text-align: center;
    margin: 0 0;
    width: 100%
}

.product th {
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 20px;
    border: 1px solid;
}

.product td {
    width: 300px;
    border: 1px solid;
    width: 20px;

}

/**
* Contacts
**/
.form-contact {
    display: flex;
}

.feedback {
    order: 2;
    width: 50%;
    height: 600px;
    padding: 3rem;
}

.form-group {
    margin-bottom: 1rem;

}

.form-group > input[type=text] {
    width: 100%;
    margin: 0 auto;
    padding: 0.375em 0.75em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: capitalize
}

.form-group > input[name=email]:focus {
    color: lawngreen;
    background-color: black;
}

.form-group > input[name=email]:focus::placeholder {
    color: lawngreen;
}

.form-group > textarea {
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 0.80em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    overflow: auto;
    resize: vertical;
    text-transform: capitalize;
}

.form-group > input[type=submit] {
    padding: 0.375em 0.75em;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 30%;
    border-radius: 10px;
    justify-content: center;

}

.form-group > input[type=submit]:hover {
    background-color: silver;

}

.map {
    order: 1;
    width: 50%;
    height: 600px;
    padding: 3rem;
}

.header-contacts {
    width: 50%;
    text-align: center;
}

.header-contacts > h3 {
    margin: 2em 0;
}

.body-contacts {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.body-contacts > h4 {
    margin-bottom: 1em;
}

.address-contacts,
.tel-contacts,
.email-contacts,
.site-contacts {
    //display: flex;
    padding: 3em 3em;
    width: 30%;
    align-items: center;
    text-align: center
}

.address-contacts > h4 {
    margin-bottom: 1em;
}

.tel-contacts > h4 {
    margin-bottom: 1em;
}

.email-contacts > h4 {
    margin-bottom: 1em;
}

.site-contacts > h4 {
    margin-bottom: 1em;
}

/**
* Footer
**/
.footer {
    font-size: 14px;
    margin-top: 1rem;
    background-color: rgba(50, 50, 50, .9);

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
    height: auto;
}

.footer > a {
    /* flex: 1 0 auto;*/
    text-decoration: none;
    color: snow;
}

.footer > span {
    /* flex: 1 0 200px;*/
    color: snow;
}

.footer > a:nth-child(1) {
    flex: 1 1 auto;
    // border: 1px solid black;
    text-align: left;
    padding: 1rem 0 1rem 1rem;
}

.footer > span:nth-child(2) {
    flex: 0 1 300px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 1rem 1rem 0;
    //border: 1px solid red;
}

/*
.links {
    //width: 30%;
    background-color: aqua;
    //display: inline-flex;
}

.copy {
    display: flex;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center
}

.copy a {


}

.copy span {
    display: inline-flex;

    flex-grow: 3;
    justify-content: flex-end
}
*/
